@charset "UTF-8";
#root {
  width: 100%;
  display: flex;
  text-align: center;
  font-family: "FOT-ロダンわんぱく Pro", "Noto Sans JP";
  font-weight: bold;
  color: #793f18;
}

body {
  width: 100%;
}

.wrap {
  width: 100%;
  background-image: url("./images/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.wrap .bg {
  max-width: 1000px;
  min-height: 100vh;
  width: 100%;
  background-image: url("./images/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header {
  text-align: left;
  margin-bottom: 1vh;
  padding: 1vh;
}
header .logo {
  height: 6em;
}

.filteredList {
  width: 70%;
}
.filteredList ul {
  width: 98.5%;
  list-style: none;
  padding: 0;
  overflow-y: scroll;
  padding-bottom: 2vh;
}
.filteredList ul::-webkit-scrollbar {
  width: 10px;
  padding-right: 10px;
}
.filteredList ul::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 100px;
}
.filteredList ul::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 100px;
}
.filteredList ul h1 {
  color: #888;
  padding-top: 5vh;
}
.filteredList ul li {
  font-size: 1.6rem;
  width: 90%;
  height: 13vw;
  max-height: 130px;
  text-align: left;
  display: flex;
  background-color: #f8f8f8;
  border-radius: 1rem;
  box-shadow: 3px 5px 15px 0px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  margin-top: 1.6vh;
  cursor: pointer;
}
.filteredList ul li:hover {
  background-color: #fff;
}
.filteredList ul li p {
  white-space: nowrap;
}
.filteredList ul li .listImg {
  align-self: center;
  margin: 0 3%;
}
.filteredList ul li .listImg img {
  height: 12vw;
  max-width: 70px;
  max-height: 70px;
}
.filteredList ul li .listText {
  width: 70%;
  font-size: min(4vw, 20px);
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-top: 2%;
}
.filteredList ul li .listText hr {
  width: 100%;
  margin: 0;
  margin-top: 2.5%;
}
.filteredList ul li .listText .effectQuantity {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: min(4vw, 18px);
  margin-top: 2.5%;
}

.filterArea {
  width: 28%;
  max-height: 80dvh;
  display: flex;
  justify-content: space-between;
  font-family: "FOT-ロダンわんぱく Pro DB", "Noto Sans JP";
  margin-bottom: 5vh;
}
.filterArea .category {
  width: 26%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.filterArea .category img {
  width: 80%;
  height: 70%;
  margin: 0 auto;
}
.filterArea .category p {
  font-size: 1.5rem;
  margin: 0;
  margin-top: 1vh;
}
.filterArea .category .catIcon {
  margin-bottom: 20%;
}
.filterArea .category .catArea {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 0 1%;
}
.filterArea .category .catArea .categoryOneEach {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #888;
  cursor: pointer;
  margin: 25% 0;
}
.filterArea .mileage {
  width: 26%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.filterArea .mileage img {
  width: 80%;
  height: 70%;
  margin: 0 auto;
}
.filterArea .mileage p {
  font-size: 1.5rem;
  margin: 0;
  margin-top: 1vh;
}
.filterArea .mileage .milIcon {
  margin-bottom: 20%;
}
.filterArea .mileage .milArea {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 0 1%;
}
.filterArea .mileage .milArea .mileageOneEach {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #888;
  cursor: pointer;
  margin: 25% 0;
}
.filterArea .location {
  width: 26%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.filterArea .location img {
  width: 80%;
  height: 70%;
  margin: 0 auto;
}
.filterArea .location p {
  font-size: 1.5rem;
  margin: 0;
  margin-top: 1vh;
}
.filterArea .location .locIcon {
  margin-bottom: 20%;
}
.filterArea .location .locArea {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 0 1%;
}
.filterArea .location .locArea .locationOneEach {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #888;
  cursor: pointer;
  margin: 25% 0;
}

footer {
  color: #000;
  text-align: center;
  font-size: 1.2rem;
  padding: 1vh;
}

.detail {
  width: 92%;
  text-align: left;
  margin: 0 auto;
}
.detail .detailCard {
  width: 90%;
  max-width: 600px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  margin-top: 3%;
}
.detail .detailCard .detailCardImg {
  width: 15%;
  align-self: center;
  margin: 2rem 0;
  padding-left: 2%;
}
.detail .detailCard .detailCardText {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  font-size: 2rem;
  margin-left: 3%;
  margin-top: 1.5rem;
}
.detail .detailCard .detailCardText p {
  text-align: left;
}
.detail .detailCard .detailCardText .detailCardBody {
  font-size: 1.6rem;
}
.detail .detailCard .detailCardText hr {
  margin: 1rem 0;
}

.hide {
  display: none;
}

@media screen and (max-width: 600px) {
  .filteredList {
    width: 100%;
  }
  .filteredList ul {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
  }
  .filteredList ul li p {
    font-size: 1.4rem;
  }
  .filteredList ul li .listImg img {
    width: 40px;
    height: 40px;
  }
  .filteredList ul li .listText hr {
    margin-top: 1.5%;
  }
  .filteredList ul li .listText .effectQuantity {
    margin-top: 1.5%;
  }
  .modalBg {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
  }
  .modalBg .filterModal {
    width: 90%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: fixed;
    background-color: #fff;
    box-shadow: 0px 0px 27px 2px rgba(10, 10, 10, 0.5);
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    padding: 10% 0 15% 0;
  }
  .modalBg .filterModal .filterArea {
    width: 100%;
    max-height: 80dvh;
    flex-direction: column;
    justify-content: space-around;
  }
  .modalBg .filterModal .filterArea .category {
    width: 26%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 80dvh;
    flex-direction: row;
    justify-content: space-around;
  }
  .modalBg .filterModal .filterArea .category .catIcon {
    margin-bottom: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
  }
  .modalBg .filterModal .filterArea .category .catIcon img {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .modalBg .filterModal .filterArea .category .catArea {
    display: flex;
  }
  .modalBg .filterModal .filterArea .category .catArea .categoryOneEach {
    margin: 10% 0;
  }
  .modalBg .filterModal .filterArea .mileage {
    width: 26%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 80dvh;
    flex-direction: row;
    justify-content: space-around;
  }
  .modalBg .filterModal .filterArea .mileage .milIcon {
    margin-bottom: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
  }
  .modalBg .filterModal .filterArea .mileage .milIcon img {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .modalBg .filterModal .filterArea .mileage .milArea {
    display: flex;
  }
  .modalBg .filterModal .filterArea .mileage .milArea .mileageOneEach {
    margin: 10% 0;
  }
  .modalBg .filterModal .filterArea .location {
    width: 26%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 80dvh;
    flex-direction: row;
    justify-content: space-around;
  }
  .modalBg .filterModal .filterArea .location .locIcon {
    margin-bottom: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
  }
  .modalBg .filterModal .filterArea .location img {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .modalBg .filterModal .filterArea .location .locArea {
    display: flex;
  }
  .modalBg .filterModal .filterArea .location .locArea .locationOneEach {
    margin: 10% 0;
  }
  .modalBg .filterModal .closeModalButton {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 1.5rem;
    color: #666;
    background-color: #fff;
    border: rgba(121, 63, 24, 0.5) 1px solid;
    border-radius: 8px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    user-drag: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
            user-select: none;
    padding: 1.5% 12%;
    margin: 0 auto;
  }
  .filter {
    position: fixed;
    background-color: #fff;
    border: rgba(121, 63, 24, 0.5) 1px solid;
    border-radius: 100px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    user-drag: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
            user-select: none;
    margin: 0 auto;
    right: 8%;
    bottom: 3%;
    padding: 1%;
  }
}
@media screen and (min-width: 601px) {
  .filteredList {
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
    border-radius: 10px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2) inset;
    margin: 0 1%;
    margin-bottom: 4vh;
  }
  .filteredList ul {
    height: 80dvh;
  }
}
/*# sourceMappingURL=App.css.map */