#root {
  width: 100%;
  display: flex;
  text-align: center;
  font-family: "FOT-ロダンわんぱく Pro", "Noto Sans JP";
  font-weight: bold;
  color: #793f18;
}

body {
  width: 100%;
}

.bg {
  max-width: 1000px;
  min-height: 100vh;
  width: 100%;
  background-image: url("./images/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.wrap {
  width: 100%;
  background-image: url("./images/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header {
  text-align: left;
  margin-bottom: 1vh;
  padding: 1vh;
}

.logo {
  height: 6em;
}

.filterArea {
  width: 28%;
  max-height: 80dvh;
  display: flex;
  justify-content: space-between;
  font-family: "FOT-ロダンわんぱく Pro DB", "Noto Sans JP";
  margin-bottom: 5vh;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.category {
  width: 26%;
  height: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.catIcon {
  margin-bottom: 20%;
}

.catArea {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  padding: 0 1%;
}

.categoryOneEach {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #888;
  cursor: pointer;
  margin: 25% 0;
}

.category img {
  width: 80%;
  height: 70%;
  margin: 0 auto;
}

.category p {
  font-size: 1.5rem;
  margin: 0;
  margin-top: 1vh;
}

.mileage {
  width: 26%;
  height: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.milArea {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  padding: 0 1%;
}

.milIcon {
  margin-bottom: 20%;
}

.mileageOneEach {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #888;
  cursor: pointer;
  margin: 25% 0;
}

.mileage img {
  width: 80%;
  height: 70%;
  margin: 0 auto;
}

.mileage p {
  font-size: 1.5rem;
  margin: 0;
  margin-top: 1vh;
}

.location {
  width: 26%;
  height: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.locArea {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  padding: 0 1%;
}

.locIcon {
  margin-bottom: 20%;
}

.locationOneEach {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #888;
  cursor: pointer;
  margin: 25% 0;
}

.location img {
  width: 80%;
  height: 70%;
  margin: 0 auto;
}

.location p {
  font-size: 1.5rem;
  margin: 0;
  margin-top: 1vh;
}

h1 {
  color: #888;
}

ul h1 {
  padding-top: 5vh;
}

.filteredList {
  width: 70%;
}

ul {
  width: 98.5%;
  list-style: none;
  padding: 0;
  overflow-y: scroll;
  padding-bottom: 2vh;
}

ul::-webkit-scrollbar {
  width: 10px;
  padding-right: 10px;
}

ul::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 100px;
}

ul::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 100px;
}

li {
  font-size: 1.6rem;
  width: 90%;
  height: 13vw;
  max-height: 130px;
  text-align: left;
  display: flex;
  background-color: #f8f8f8;
  border-radius: 1rem;
  box-shadow: 3px 5px 15px 0px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  margin-top: 1.6vh;
  cursor: pointer;
}

li:hover {
  background-color: #fff;
}

.listImg {
  align-self: center;
  margin: 0 3%;
}

.listImg img {
  height: 12vw;
  max-width: 70px;
  max-height: 70px;
}

hr {
  width: 100%;
  margin: 0;
  margin-top: 2.5%;
}

.listText {
  width: 70%;
  font-size: min(4vw, 20px);
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-top: 2%;
}

li p {
  white-space: nowrap;
}

.effectQuantity {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: min(4vw, 18px);
  margin-top: 2.5%;
}

.detailImg {
  width: 200px;
}

footer {
  color: #000;
  text-align: center;
  font-size: 1.2rem;
  padding: 1vh;
}

.hide {
  display: none;
}

@media screen and (max-width: 600px) {
  .filterArea {
    width: 100%;
    max-height: 80dvh;
    flex-direction: column;
    justify-content: space-around;
  }

  .category {
    width: 80%;
    height: 30%;
    flex-direction: row;
    justify-content: space-between;
  }
  .catIcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
  }
  .catIcon img {
    height: fit-content;
  }

  .categoryOneEach {
    margin: 10% 0;
  }

  .catArea {
    display: flex;
  }

  .mileage {
    width: 80%;
    height: 30%;
    flex-direction: row;
    justify-content: space-between;
  }
  .milIcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
  }
  .milIcon img {
    height: fit-content;
  }

  .mileageOneEach {
    margin: 10% 0;
  }

  .milArea {
    display: flex;
  }

  .location {
    width: 80%;
    height: 30%;
    flex-direction: row;
    justify-content: space-between;
  }
  .locIcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
  }
  .locIcon img {
    height: fit-content;
  }

  .locationOneEach {
    margin: 10% 0;
  }

  .locArea {
    display: flex;
  }

  .filteredList {
    width: 100%;
  }

  ul {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
  }

  .listImg img {
    width: 40px;
    height: 40px;
  }

  li p {
    font-size: 1.4rem;
  }

  hr {
    margin-top: 1.5%;
  }

  .effectQuantity {
    margin-top: 1.5%;
  }

  .filter {
    position: fixed;
    background-color: #fff;
    border: rgb(121, 63, 24, 0.5) 1px solid;
    border-radius: 100px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    user-drag: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    user-select: none;
    margin: 0 auto;
    right: 8%;
    bottom: 3%;
    padding: 1%;
  }

  .closeModalButton {
    width: fit-content;
    font-size: 1.5rem;
    color: #666;
    background-color: #fff;
    border: rgb(121, 63, 24, 0.5) 1px solid;
    border-radius: 8px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    user-drag: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    user-select: none;
    padding: 1.5% 12%;
    margin: 0 auto;
  }

  .modalBg {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
  }

  .filterModal {
    width: 90%;
    height: fit-content;
    position: fixed;
    background-color: #fff;
    box-shadow: 0px 0px 27px 2px rgba(10, 10, 10, 0.5);
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    padding: 10% 0 15% 0;
  }
}

@media screen and (min-width: 601px) {
  ul {
    height: 80dvh;
  }

  .filteredList {
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
    border-radius: 10px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2) inset;
    margin: 0 1%;
    margin-bottom: 4vh;
  }
}
