@mixin filterType($sp: false) {
  width: 26%;
  height: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  @if ($sp) {
    width: 100%;
    max-height: 80dvh;
    flex-direction: row;
    justify-content: space-around;
  }
}
@mixin filterTypeIcon($sp: false) {
  margin-bottom: 20%;
  @if ($sp) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
  }
}
@mixin filterTypeImg {
  width: 80%;
  height: 70%;
  margin: 0 auto;
}
@mixin filterTypeP {
  font-size: 1.5rem;
  margin: 0;
  margin-top: 12%;
}
@mixin filterTypeArea {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
}
@mixin filterTypeOneEach {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #888;
  cursor: pointer;
  margin: 10% 0 15% 0;
}
@mixin detailBody($sp: false) {
  background-color: #fff;
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
  border-radius: 10px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2) inset;
  margin-bottom: 5%;
  padding: 2vh 0 3vh 0;
  @if ($sp) {
    padding: 1vh 0 2vh 0;
  }
}
@mixin button() {
  cursor: pointer;
  user-drag: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  user-select: none;
}

#root {
  width: 100%;
  display: flex;
  text-align: center;
  font-family: "FOT-ロダンわんぱく Pro", "Noto Sans JP";
  font-weight: bold;
  color: #793f18;
}

body {
  width: 100%;
}

.wrap {
  width: 100%;
  background-image: url("https://uma-keisyo.com/images/bg.ed5622e8.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  .bg {
    max-width: 1080px;
    min-height: 100vh;
    width: 100%;
    background-image: url("https://uma-keisyo.com/images/bg.8d858e27.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}

header {
  text-align: left;
  margin-bottom: 1vh;
  padding: 1vh;
  .logo {
    height: 6em;
  }
}

.filteredList {
  width: 70%;
  ul {
    width: 98.5%;
    list-style: none;
    padding: 0;
    overflow-y: scroll;
    padding-bottom: 2vh;
    &::-webkit-scrollbar {
      width: 10px;
      padding-right: 10px;
    }

    &::-webkit-scrollbar-track {
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 100px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.4);
      border-radius: 100px;
    }
    h1 {
      color: #888;
      padding-top: 5vh;
    }
    li {
      font-size: 1.6rem;
      width: 90%;
      height: 18vw;
      max-height: 130px;
      text-align: left;
      display: flex;
      background-color: #f8f8f8;
      border-radius: 1rem;
      border: rgba(0, 0, 0, 0.2) solid 1px;
      margin: 0 auto;
      margin-top: 1.6vh;
      cursor: pointer;
      &:hover {
        background-color: #fff;
      }
      p {
        white-space: nowrap;
      }
      .listImg {
        align-self: center;
        margin: 0 3%;
        img {
          height: 12vw;
          max-width: 70px;
          max-height: 70px;
        }
      }
      .listText {
        width: 70%;
        font-size: min(4vw, 20px);
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        margin-top: 2%;
        hr {
          width: 100%;
          margin: 0;
          margin-top: 2.5%;
        }
        .effectQuantity {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          font-size: min(4vw, 18px);
          margin-top: 2.5%;
        }
      }
    }
  }
}

.filterArea {
  width: 28%;
  max-height: 80dvh;
  display: flex;
  flex-direction: column;
  .filterAreaButtons {
    display: flex;
    .category {
      @include filterType();
      img {
        @include filterTypeImg();
      }
      p {
        @include filterTypeP();
      }
      .catIcon {
        @include filterTypeIcon();
      }
      .catArea {
        @include filterTypeArea();
        .categoryOneEach {
          @include filterTypeOneEach();
        }
      }
    }
    .mileage {
      @include filterType();
      img {
        @include filterTypeImg();
      }
      p {
        @include filterTypeP();
      }
      .milIcon {
        margin-bottom: 20%;
      }
      .milArea {
        @include filterTypeArea();
        .mileageOneEach {
          @include filterTypeOneEach();
        }
      }
    }
    .location {
      @include filterType();
      img {
        @include filterTypeImg();
      }
      p {
        @include filterTypeP();
      }
      .locIcon {
        margin-bottom: 20%;
      }
      .locArea {
        @include filterTypeArea();
        .locationOneEach {
          @include filterTypeOneEach();
        }
      }
    }
  }
  .resetFilter {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
    .adjustResetFilter {
      width: 26%;
      background-color: #fff;
      border-radius: 1rem;
      margin: 0 3.666%;
      img {
        width: 80%;
        margin-top: 10%;
      }
      p {
        @include filterTypeP();
        margin-bottom: 15%;
      }
    }
  }
}

footer {
  position: sticky;
  top: 100vh;
  color: #000;
  text-align: center;
  font-size: 1.2rem;
  padding: 2vh;
}

.detail {
  width: 92%;
  text-align: left;
  margin: 0 auto;
  .detailCard {
    width: 90%;
    max-width: 600px;
    height: fit-content;
    display: flex;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    margin-top: 3%;
    .detailCardImg {
      width: 15%;
      align-self: center;
      margin: 2rem 0;
      padding-left: 2%;
    }
    .detailCardText {
      width: 70%;
      display: flex;
      flex-direction: column;
      align-self: flex-start;
      font-size: 2rem;
      margin: 1.5rem 0 1rem 3%;
      p {
        text-align: left;
      }
      .detailCardBody {
        font-size: 1.6rem;
        line-height: 1.4;
      }
      hr {
        margin: 1rem 0;
      }
    }
  }
  .detailBody {
    font-size: 1.6rem;
    min-height: 0vw;
    margin-top: 10%;
    h3 {
      color: #a04c15;
      margin: 1rem 0 0 2%;
    }
    hr {
      width: 90%;
      margin: 1rem 0 1.5rem 2%;
    }
    .detailBodyFlex {
      display: flex;
      justify-content: center;
    }
    .detailBodyLabel {
      width: 25%;
      white-space: nowrap;
    }
    .detailBodyText {
      width: 70%;
    }
    .detailBodyTerms {
      @include detailBody();
      width: 48%;
      .detailBodyMileage {
        margin-bottom: 1vh;
      }
      .detailBodyLocation {
        margin-bottom: 1vh;
      }
      .detailBodyTrigger {
        margin-bottom: 1vh;
      }
    }
    .detailBodyEffects {
      @include detailBody();
      width: 48%;
      .detailBodyAmountOfVelocity {
        margin-bottom: 1vh;
      }
      .detailBodyAmountOfAcceleration {
        margin-bottom: 1vh;
      }
    }
  }
  .buttonBack {
    @include button();
    width: 70px;
  }
}

.hide {
  display: none;
}

@media screen and (max-width: 600px) {
  .filteredList {
    width: 100%;
    ul {
      width: 100%;
      overflow: hidden;
      margin: 0 auto;
      li {
        p {
          font-size: 1.4rem;
        }
        .listImg {
          img {
            width: 40px;
            height: 40px;
          }
        }
        .listText {
          hr {
            margin-top: 1.5%;
          }
          .effectQuantity {
            margin-top: 1.5%;
          }
        }
      }
    }
  }

  .filterArea {
    width: 28%;
    max-height: 80dvh;
    display: flex;
    flex-direction: column;
    .filterAreaButtons {
      display: flex;
      flex-direction: column;
    }
    .resetFilter {
      width: 100%;
      margin-top: 2rem;
      display: none;
      img {
        width: 30%;
      }
    }
  }

  .modalBg {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    .filterModal {
      width: 90%;
      height: fit-content;
      position: fixed;
      background-color: #fff;
      box-shadow: 0px 0px 27px 2px rgba(10, 10, 10, 0.5);
      border-radius: 10px;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      padding: 6% 0 13% 0;
      z-index: 200;
      .filterArea {
        width: 100%;
        max-height: 80dvh;
        flex-direction: column;
        justify-content: space-around;
        .filterAreaButtons {
          margin-bottom: 12%;
          .category {
            @include filterType(sp);
            .catIcon {
              @include filterTypeIcon(sp);
              img {
                height: fit-content;
              }
            }
            .catArea {
              display: flex;
              .categoryOneEach {
                margin: 7% 0;
              }
            }
          }
          .mileage {
            @include filterType(sp);
            .milIcon {
              @include filterTypeIcon(sp);
              img {
                height: fit-content;
              }
            }
            .milArea {
              display: flex;
              .mileageOneEach {
                margin: 7% 0;
              }
            }
          }
          .location {
            @include filterType(sp);
            .locIcon {
              @include filterTypeIcon(sp);
            }
            img {
              height: fit-content;
            }
            .locArea {
              display: flex;
              .locationOneEach {
                margin: 7% 0;
              }
            }
          }
        }
      }
      .closeModalButton {
        @include button();
        width: 100%;
        display: flex;
        justify-content: flex-end;
        .closeModalButtonImg {
          width: 30%;
          height: intrinsic;
        }
        .closeModalReset {
          width: 35%;
          .closeModalResetImg {
            width: 57%;
          }
        }
      }
    }
  }

  .filter {
    position: fixed;
    border-radius: 100px;
    margin: 0 auto;
    right: 8%;
    bottom: 3%;
    padding: 1%;
    z-index: 100;
    .buttonFilter {
      @include button();
      width: 90px;
      border-radius: 100px;
      box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.4);
    }
  }

  .detail {
    .detailCard {
      width: 100%;
      .detailCardImg {
        width: 20%;
      }
      .detailCardText {
        font-size: clamp(
          1.7rem,
          calc(1.7rem + ((1vw - 0.32rem) * 0.4412)),
          2rem
        );
        min-height: 0vw;
        margin-left: 3%;
        margin-top: 1.5rem;
        .detailCardBody {
          font-size: clamp(
            1.4rem,
            calc(1.4rem + ((1vw - 0.32rem) * 0.2941)),
            1.6rem
          );
          font-size: 1.4rem;
          min-height: 0vw;
        }
        hr {
          margin: 0.6rem 0;
        }
      }
    }
    .detailBody {
      font-size: clamp(
        1.4rem,
        calc(1.4rem + ((1vw - 0.32rem) * 0.2941)),
        1.6rem
      );
      min-height: 0vw;
      .detailBodyBasic {
        @include detailBody(sp);
        width: 100%;
        .detailBodyLabel {
          width: 25%;
        }
        .detailBodyText {
          width: 70%;
        }
        .detailBodyName {
          margin-bottom: 1vh;
        }
        .detailBodyDescription {
          line-height: 1.5;
        }
      }
      .detailBodyLowerRow {
        .detailBodyTerms {
          @include detailBody(sp);
          width: 100%;
          .detailBodyMileage {
            margin-bottom: 1vh;
          }
          .detailBodyLocation {
            margin-bottom: 1vh;
          }
          .detailBodyTrigger {
            margin-bottom: 1vh;
          }
        }
        .detailBodyEffects {
          @include detailBody(sp);
          width: 100%;
          .detailBodyAmountOfVelocity {
            margin-bottom: 1vh;
          }
          .detailBodyAmountOfAcceleration {
            margin-bottom: 1vh;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 601px) {
  .filteredList {
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
    border-radius: 10px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2) inset;
    margin: 0 1%;
    ul {
      height: 80dvh;
    }
  }

  .detail {
    .detailBody {
      .detailBodyLowerRow {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
